In [53]:
import pandas as pd
import numpy as np
times = pd.read_excel('TIMES.xlsx')
times.set_index('Número', inplace = True)
times.fillna('NA', inplace = True)
times_mundial_inicio = ['EDG','INF','DW','G2','SUP','ASC','C9','DFM','KBM','GRX','GMB','KLG','AFS','FW','PVB','RNG','VIT','GEN','KT','TL','MAD','FNC','IG','100']
times_mundial_grupos = ['AFS','FW','PVB','RNG','VIT','GEN','KT','TL','MAD','FNC','IG','100','EDG','G2','C9','GRX']

In [54]:
def arrumadados(sheet,guia):
    arquivo = pd.ExcelFile(sheet)
    liga = pd.read_excel(arquivo,guia-1)
    liga = liga[3:]
    liga.fillna(0,inplace = True)
    return liga

In [55]:
cblol1 = arrumadados('CBLOL_BRASIL.xlsx',1)
cblol2 = arrumadados('CBLOL_BRASIL.xlsx',2)
cls1 = arrumadados('CLS_LAS.xlsx',1)
cls2 = arrumadados('CLS_LAS.xlsx',2)
eu_lcs1 = arrumadados('EU_LCS_EUROPA.xlsx',1)
eu_lcs2 = arrumadados('EU_LCS_EUROPA.xlsx',2)
lck1 = arrumadados('LCK_COREIA.xlsx',1)
lck2 = arrumadados('LCK_COREIA.xlsx',2)
lcl1 = arrumadados('LCL_CIS.xlsx',1)
lcl2 = arrumadados('LCL_CIS.xlsx',2)
ljl1 = arrumadados('LJL_JAPAN.xlsx',1)
ljl2 = arrumadados('LJL_JAPAN.xlsx',2)
lln1 = arrumadados('LLN_LAN.xlsx',1)
lln2 = arrumadados('LLN_LAN.xlsx',2)
lms1 = arrumadados('LMS_TAIWAN.xlsx',1)
lms2 = arrumadados('LMS_TAIWAN.xlsx',2)
lpl1 = arrumadados('LPL_CHINA.xlsx',1)
lpl2 = arrumadados('LPL_CHINA.xlsx',2)
na_lcs1 = arrumadados('NA_LCS_EUA.xlsx',1)
na_lcs2 = arrumadados('NA_LCS_EUA.xlsx',2)
opl1 = arrumadados('OPL_OCEANIA.xlsx',1)
opl2 = arrumadados('OPL_OCEANIA.xlsx',2)
seatour1 = arrumadados('SEATOUR_SEA.xlsx',1)
seatour2 = arrumadados('SEATOUR_SEA.xlsx',2)
tcl1 = arrumadados('TCL_TURQUIA.xlsx',1)
tcl2 = arrumadados('TCL_TURQUIA.xlsx',2)
vcs1 = arrumadados('VCS_VIETNAN.xlsx',1)
vcs2 = arrumadados('VCS_VIETNAN.xlsx',2)
msi1 = arrumadados('MSI.xlsx',1)
msi2 = arrumadados('MSI.xlsx',2)
msi3 = arrumadados('MSI.xlsx',3)
msi4 = arrumadados('MSI.xlsx',4)
mundial1 = arrumadados('MUNDIAL_2018.xlsx',1)
mundial2 = arrumadados('MUNDIAL_2018.xlsx',2)
mundial3 = arrumadados('MUNDIAL_2018.xlsx',3)

In [56]:
def elo(liga,k=20,mundial = False):
    k=int(liga.shape[1]/5)
    for semana in range(1,k+1):
        somar = {}
        for sigla in list(times.Sigla):
            somar[sigla]=0
        for time in list(times.Sigla):
            for vencedor in list(liga['Vencedor'+str(semana)]):
                if vencedor!=0:
                    if time==vencedor:
                        dados_lista = liga[liga['Vencedor'+str(semana)]==vencedor]
                        for num_perd in range(0,len(list(dados_lista['Perdedor1']))):
                            perdedor = list(dados_lista['Perdedor'+str(semana)])[num_perd]
                            peso = float(list(dados_lista['Peso'+str(semana)])[num_perd])
                            parametro_vencedor = 10**(times[times.Sigla==vencedor]['Força atualizada'].values/400)
                            parametro_perdedor = 10**(times[times.Sigla==perdedor]['Força atualizada'].values/400)
                            prob_ganhador = parametro_vencedor/(parametro_vencedor+parametro_perdedor)
                            prob_perdedor = parametro_perdedor/(parametro_vencedor+parametro_perdedor)
                            if mundial:
                                somar[vencedor]+= k*(peso - prob_ganhador)
                                somar[perdedor]-= k*(prob_perdedor)
                            else:
                                if times[times.Sigla==vencedor]['Força atualizada'].values >= 1850:
                                    somar[vencedor]+= 10*(peso - prob_ganhador)
                                else:
                                    somar[vencedor]+= k*(peso - prob_ganhador)
                                if times[times.Sigla==perdedor]['Força atualizada'].values >= 1850:
                                    somar[perdedor]-= 10*(prob_perdedor)
                                else:
                                    somar[perdedor]-= k*(prob_perdedor)
                else:
                    pass
        for time in list(times.Sigla):
            ind = times['Força atualizada'][times.Sigla==time].index
            times.loc[ind,'Força atualizada']=times.loc[ind,'Força atualizada']+somar[time]

In [57]:
elo(cblol1)
elo(cblol2,30)
elo(cls1)
elo(cls2,30)
elo(eu_lcs1,15)
elo(eu_lcs2,30)
elo(lck1,10)
elo(lck2,30)
elo(lcl1)
elo(lcl2,30)
elo(ljl1)
elo(ljl2,30)
elo(lln1)
elo(lln2,30)
elo(lms1,15)
elo(lms2,30)
elo(lpl1,15)
elo(lpl2,30)
elo(na_lcs1,15)
elo(na_lcs2,30)
elo(opl1)
elo(opl2,30)
elo(seatour1)
elo(seatour2,30)
elo(tcl1)
elo(tcl2,30)
elo(vcs1)
elo(vcs2,30)
elo(msi1)
elo(msi2)
elo(msi3)
elo(msi4,30)
elo(mundial1,40,True)
elo(mundial2,40,True)
elo(mundial3,40,True)

In [58]:
times[times.Sigla.isin(times_mundial_grupos)].sort_values(by=['Força atualizada'],ascending = False)

       Sigla  Região  Força Inicial  Força atualizada
Número
16       RNG      CN           1800       1889.615412
33       FNC      EU           1800       1868.487539
13        IG      CN           1800       1851.627717
1         KT      KR           1850       1842.626524
34       VIT      EU           1800       1829.504139
36        G2      EU           1800       1810.488974
44        C9      NA           1800       1808.196819
5        AFS      KR           1850       1807.884554
11       EDG      CN           1800       1805.083767
43        TL      NA           1800       1801.103245
4        GEN      KR           1850       1776.874855
25        FW  TWHKMA           1800       1772.716953
26       MAD  TWHKMA           1800       1739.836025
121      PVB      VN           1600       1710.562125
29       GRX  TWHKMA           1800       1692.723823

In [297]:
times[times.Região=='BR'].sort_values(by=['Força atualizada'],ascending = False)

       Sigla Região  Força Inicial  Força atualizada
Número
85       KBM     BR           1600       1629.439114
84       FLA     BR           1600       1612.865261
87        VK     BR           1600       1596.172209
83       CNB     BR           1600       1576.414739
86       IDM     BR           1600       1568.350306
88       ITZ     BR           1600       1566.532891
90       RED     BR           1600       1556.133071
89       PRG     BR           1600       1547.985918

In [59]:
times.sort_values(by=['Força atualizada'],ascending = False)

       Sigla   Região  Força Inicial  Força atualizada
Número
16       RNG       CN           1800       1889.615412
33       FNC       EU           1800       1868.487539
13        IG       CN           1800       1851.627717
1         KT       KR           1850       1842.626524
34       VIT       EU           1800       1829.504139
15        RW       CN           1800       1825.404653
36        G2       EU           1800       1810.488974
44        C9       NA           1800       1808.196819
5        AFS       KR           1850       1807.884554
14       JDG       CN           1800       1807.619611
11       EDG       CN           1800       1805.083767
43        TL       NA           1800       1801.103245
18       TOP       CN           1800       1792.155764
49       OPT       NA           1800       1785.937153
47       TSM       NA           1800       1783.747291
23       LGD       CN           1800       1783.105507
17       SNG       CN           1800       1780.192914
4        GEN       KR           1850       1776.874855
25        FW   TWHKMA           1800       1772.716953
46       FOX       NA           1800       1766.600995
48       FLY       NA           1800       1763.589851
35       S04       EU           1800       1762.756297
40       UOL       EU           1800       1759.885049
37       MSF       EU           1800       1759.849171
45       100       NA           1800       1753.910637
50       CLG       NA           1800       1750.427167
27       HKA   TWHKMA           1800       1748.934473
39       ROC       EU           1800       1748.378045
38       SPY       EU           1800       1747.998229
6        HLE       KR           1850       1743.567501
...      ...      ...            ...               ...
120      GAM       VN           1600       1560.238684
90       RED       BR           1600       1556.133071
9        MVP       KR           1850       1555.293717
59        VS      CIS           1600       1554.505571
89       PRG       BR           1600       1547.985918
110      HWA      TRK           1600       1547.398847
71       PIX      LAN           1600       1547.067084
69        GG      LAN           1600       1545.743880
57       EPG      CIS           1600       1543.493549
10       BBQ       KR           1850       1542.392305
64       PGM      JPN           1600       1540.773853
61        BC      JPN           1600       1539.277135
107       FB      TRK           1600       1538.705580
74       ZTG      LAN           1600       1532.515584
81       LGT      LAS           1600       1529.911353
91        AV  OCEANIA           1600       1525.710020
62       CGA      JPN           1600       1517.420543
66        V3      JPN           1600       1514.953676
96       MMM  OCEANIA           1600       1514.152077
76       EVV      LAS           1600       1512.736916
92       BMR  OCEANIA           1600       1506.139006
108      BUR      TRK           1600       1494.707428
119      FTV       VN           1600       1494.424089
98       TTC  OCEANIA           1600       1488.364223
75        DH      LAS           1600       1487.230319
78       HAF      LAS           1600       1483.107814
114       YC      TRK           1600       1475.588359
113      AUR      TRK           1600       1473.409179
115       CR       VN           1600       1463.433597
122      VKI       VN           1600       1402.166361

[122 rows x 4 columns]

16